<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">

    <!---->
    <div *ngIf="edicion; then actualizar else registrar"></div>

    <ng-template #actualizar>
      <div style="text-align: center;" #actualizar>
        <h1 class="title-creaedita-usuario">Actualizar Publicación</h1>
      </div>
    </ng-template>

    <ng-template #registrar>
      <div style="text-align: center;" #registrar>
        <h1 class="title-creaedita-usuario">Registrar Publicación</h1>
      </div>
    </ng-template>

    <!---->

    <form [formGroup]="form" (submit)="aceptar()" class="form-usuario">

      <mat-form-field class="example-full-witdh" style="margin-top: 20px;">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Código" formControlName="id" readonly>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-witdh">
        <mat-label>Título</mat-label>
        <input matInput required placeholder="Escribe la descripción" formControlName="tituloPublicacion">
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-witdh">
        <mat-label>Descripción</mat-label>
        <input matInput required placeholder="Escribe tu nombre completo" formControlName="descripcionPublicacion">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Publicación</mat-label>
        <input matInput formControlName="fechaPublicacionP" [max]="maxFecha" [(ngModel)]="today" readonly>
        <mat-datepicker></mat-datepicker>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Desaparición</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="fechaDesaparicion" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Vigencia</mat-label>
        <mat-select formControlName="vigentePublicacion" required>
          <mat-option [value]="'Vigente'">Vigente</mat-option>
          <mat-option [value]="'No Vigente'">No Vigente</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria" [(value)]="idCategoriaSeleccionada" required>
          <mat-option *ngFor="let c of listaCategoria" [value]="c.idCategoria">
            {{c.nombreCategoria +" (" + c.rangoCategoria + ")"}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="user" [(value)]="idUsuarioSeleccionada" required>
          <mat-option *ngFor="let u of listaUsuario" [value]="u.id">
            {{u.nombresUsuario + " " + u.apellidosUsuario}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Persona Desaparecida</mat-label>
        <mat-select formControlName="people" [(value)]="idPeopleSeleccionada" required>
          <mat-option *ngFor="let p of listaPeople" [value]="p.idPeople">
            {{p.nombresPeople + " " + p.apellidosPeople}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <div class="buttons-registrar-usuario">
        <button mat-raised-button class="button-creaedita-usuario" (click)="aceptar()">Aceptar</button>

        <button mat-raised-button color="warn" style="margin-bottom: 20px;"
          routerLink="/pages/publicaciones">Cancelar</button>
      </div>

    </form>
  </div>

</body>

</html>
