<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="form-usuario">

    <div style="text-align: center;">
      <h1 class="title-usuario-lista">Publicaciones Registradas</h1>
    </div>

    <div>
      <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
      </mat-form-field>
    </div>

    <div [hidden]="role=='ADMIN'" style="text-align: right;">
      <button mat-raised-button class="button-insert" routerLink="/pages/publicaciones/nuevo">Registrar</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- idPublicacion Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idPublicacion}} </td>
      </ng-container>

      <!-- tituloPublicacion Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.tituloPublicacion}} </td>
      </ng-container>

      <!-- descripcionPublicacion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcionPublicacion}} </td>
      </ng-container>

      <!-- fechaPublicacion Column -->
      <ng-container matColumnDef="fechaPublicacionP">
        <th mat-header-cell *matHeaderCellDef> Fecha de Publicación </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaPublicacionP | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- fechaDesaparicion Column -->
      <ng-container matColumnDef="fechaDesaparicion">
        <th mat-header-cell *matHeaderCellDef> Fecha de Desaparición </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaDesaparicion | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- descripcionPublicacion Column -->
      <ng-container matColumnDef="vigente">
        <th mat-header-cell *matHeaderCellDef> Vigencia </th>
        <td mat-cell *matCellDef="let element"> {{element.vigentePublicacion}} </td>
      </ng-container>

      <!-- idCategoria Column -->
      <ng-container matColumnDef="idCategoria">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria.nombreCategoria}} </td>
      </ng-container>

      <!-- idPeople Column -->
      <ng-container matColumnDef="idPeople">
        <th mat-header-cell *matHeaderCellDef> Persona Desaparecida </th>
        <td mat-cell *matCellDef="let element"> {{element.people.nombresPeople + " " + element.people.apellidosPeople}}
        </td>
      </ng-container>

      <!-- idUsuario Column -->
      <ng-container matColumnDef="idUsuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.user.nombresUsuario +" " + element.user.apellidosUsuario}}
        </td>
      </ng-container>

      <!-- Actualizar Column -->
      <ng-container matColumnDef="accion01">
        <th mat-header-cell [hidden]="role=='ADMIN'" *matHeaderCellDef> Actualizar </th>
        <td mat-cell [hidden]="role=='ADMIN'" *matCellDef="let element">
          <button mat-button class="button-update" [routerLink]="['edicion', element.idPublicacion]">
            <span class="material-icons button-update">autorenew</span>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar Column -->
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="confirm(element.idPublicacion)">
            <span class="material-icons">delete_forever</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" showFirstLastButtons>
    </mat-paginator>

  </div>

</body>

</html>
