<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">

    <!---->
    <div *ngIf="edicion; then actualizar else registrar"></div>

    <ng-template #actualizar>
      <div style="text-align: center;" #actualizar>
        <h1 class="title-creaedita-usuario">Actualizar Ciudad</h1>
      </div>
    </ng-template>

    <ng-template #registrar>
      <div style="text-align: center;" #registrar>
        <h1 class="title-creaedita-usuario">Registrar Ciudad</h1>
      </div>
    </ng-template>

    <!---->

    <form [formGroup]="form" (submit)="aceptar()" class="form-usuario">

      <mat-form-field class="example-full-witdh" style="margin-top: 20px;">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Código" formControlName="id" readonly>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-witdh">
        <mat-label>Nombre</mat-label>
        <input matInput required placeholder="Escribe el nombre de la Ciudad" formControlName="nombreCiudad">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <mat-select formControlName="pais" [(value)]="idPaisSeleccionado" required>
          <mat-option *ngFor="let p of lista" [value]="p.idPais">
            {{p.nombrePais}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <div class="buttons-registrar-usuario">
        <button mat-raised-button class="button-creaedita-usuario" (click)="aceptar()">Aceptar</button>

        <button mat-raised-button color="warn" style="margin-bottom: 20px;" routerLink="/pages/ciudades">Cancelar</button>
      </div>

    </form>
  </div>

</body>

</html>
